.terraform
.terraform.*
.vscode
.workflow.config.json
*.b64.txt
*.log
*.plan
*.tfstate
*.tfstate*
**/.terraform
**/.terraform.*
/.terraform/*
build.env
terraform/backend.tf
terraform/terraform.tfvars
tmp
.terraform/*
.terraform.lock.hcl


